:host {
  flex-grow: 1;
  height: 100%;
}

.head-button-options {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: flex-end;

  .button-items {
    width: fit-content;
    display: flex;
    margin-right: 50px;
    .short-icon {
      transform: scale(0.7);
    }
    .mg {
      margin-right: 10px;
      &:nth-child(2) {
        margin-right: 12px;
      }
    }
    .button-item {
      position: relative;
      width: 35px;
      aspect-ratio: 1/1;
      cursor: pointer;
      img {
        width: 100%;
        height: 100%;
      }
      .bg {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.439);
        z-index: 999999999999999999999999999999999999;
        cursor: default;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 10px;
        .profile-box {
          width: 500px;
          height: 700px;
          background-color: rgb(255, 255, 255);
          position: relative;
          box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.2);
          border-radius: 5px;
          display: flex;
          flex-direction: column;

          .cross-box {
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-right: 10px;
            margin-top: 10px;
            .cross {
              width: 40px;
              aspect-ratio: 1/1;
              padding: 10px;
              cursor: pointer;
            }
          }
          .p-icon {
            width: 200px;
            margin: auto;
            img {
              width: 100%;
            }
          }
          h1 {
            font-family: "Fugaz One", sans-serif;
            text-align: center;
            margin-bottom: 20px;
          }
          .input-box {
            width: 400px;
            position: relative;
            height: 40px;
            margin-bottom: 10px;
            margin: auto;
            display: flex;
            align-items: center;
            .input-b {
              flex-grow: 1;
              height: 100%;
              margin-right: 10px;
              input {
                height: 100%;
                background-color: transparent;
                border: none;
                outline: none;
                font-family: "Lilita One", sans-serif;
                border: 1px solid black;
                height: 100%;
                width: 100%;
                padding: 5px;
                border-radius: 5px;
              }
            }
            .button {
              width: 90px;
              height: 40px;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: orange;
              font-family: "Lilita One", sans-serif;
              border-radius: 5px;
              box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
              cursor: pointer;
            }
          }
          .list-view {
            padding-top: 10px;
            width: 400px;
            margin: auto;
            flex-grow: 1;
            overflow: auto;
            .list-item {
              width: 100%;
              height: 40px;
              margin-bottom: 10px;
              display: flex;
              align-items: center;
              .icon-p {
                min-width: 40px;
                max-width: 40px;
                aspect-ratio: 1.5/1;
                position: relative;
                cursor: pointer;

                img {
                  height: 100%;
                  width: 100%;
                }
              }
              .txt {
                flex-grow: 1;
                margin-left: 10px;
                font-family: "Lilita One", sans-serif;
                cursor: pointer;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
              //
              .icon-p2 {
                min-width: 25px;
                max-width: 25px;
                aspect-ratio: 1/1;
                position: relative;
                cursor: pointer;

                img {
                  height: 100%;
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}
