.logo-box {
  position: relative;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  .logo-x {
    margin-right: 10px;
    width: 80px;
    height: 100%;
    position: relative;
    img {
      height: fit-content;
      object-fit: contain;
    }
  }
  .txt {
    font-size: 25px;
    font-family: "Fugaz One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
}
